<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Ecommerce</h3>

    <p class="footer-links">
      <a routerLink="/">Домашняя</a>

      <a routerLink="/browse">Товары</a>

      <a routerLink="/faq">FAQ</a>
    </p>

    <p class="footer-company-name">Влад Харламов &copy; 2024-2028</p>

  </div>

  <div class="footer-center">



    <div>
      <i class="fa fa-user"></i>
      <p>Владислав Харламов</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:antkaynak1@gmail.com">vlad.kharlamov.box@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>О Проекте</span>
      Веб-сайт для демонстрации индивидуального потока электронной коммерции.
      Перечисленные продукты не являются реальными, и мы не собираем никакой платежной информации.
      Вам рекомендуется не использовать свою настоящую личную или платежную информацию.
    </p>

    <div class="footer-icons">
      <a href="https://www.instagram.com/doomslayer2007/" rel="noopener noreferrer" target="_blank"><i
          class="fa fa-instagram"></i></a>
      <a href="https://t.me/VULGAR_D1SPLAY_OF_POWER" rel="noopener noreferrer" target="_blank"><i class="fa fa-telegram"></i></a>

    </div>

  </div>

</footer>
