<div class="confirmation">

  <div *ngIf="innerLoading" class="loader"></div>

  <div *ngIf="!innerLoading">
    <div class="panel">
      <div class="info row">
        <div class="col-md-12">
          <div class="title row">
            <div class="col-md-10">
              <p>Информация о доставке</p>
            </div>
            <div class="col-md-2">
              <a class="edit" routerLink="/checkout/personal">
                <p>Изменить</p>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Имя Фамилия: <span>{{(orderState | async).personal.shipName}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Страна: <span>{{(orderState | async).shipping.country}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Город: <span>{{(orderState | async).shipping.city}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Address: <span>{{(orderState | async).shipping.shipAddress}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Phone: <span>{{(orderState | async).personal.phone}}</span></p>
            </div>
          </div>

          <div class="row" *ngIf="!(orderState | async).shipping.billingAddress">
            <div class="col-md-12">
              <p class="billing">Use Shipping Address for Billing</p>
            </div>
          </div>

        </div>
      </div>


      <div class="info secondary row" *ngIf="(orderState | async).shipping.billingAddress">
        <div class="col-md-12">
          <div class="title row">
            <div class="col-md-10">
              <p>Платежные данные</p>
            </div>
            <div class="col-md-2">
              <a class="edit" routerLink="/checkout/personal">
                <p>Изменить</p>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Адрес: <span>{{(orderState | async).shipping.billingAddress}}</span></p>
            </div>
          </div>

        </div>
      </div>

      <div class="info lower row">
        <div class="col-md-12">
          <div class="title row">
            <div class="col-md-10">
              <p>Платежная информация</p>
            </div>
            <div class="col-md-2">
              <a class="edit" routerLink="/checkout/payment">
                <p>Edit</p>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Номер карты: <span>
                  **********
                  {{(orderState | async).payment.cardNo.toString()
                  .substr((orderState | async).payment.cardNo.toString().length - 4,(orderState | async).payment.cardNo.toString().length)}}
                </span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Владелец карты: <span>{{(orderState | async).payment.cardOwner}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Срок действия:
                <span>{{(orderState | async).payment.cardExp.month}}/{{(orderState | async).payment.cardExp.year}}</span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>CCV: <span>{{(orderState | async).payment.cardCCV}}</span></p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
