<div class="container faq">
  <div class="title">
    <p>FAQ</p>
  </div>
  <hr>
  <div class="accordion">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="false" [destroyOnHide]="true">
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span class="panel-title">What is eCommerce?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Ecommerce is a complex business. It involves many edge cases and a solid system architecture. This project is
          simply a demo demonstrating basic features which is only the tip of an iceberg.
          This project might ( and certainly does ) have bugs, vulnerabilities or some other types of issues. So,
          contributions are welcome :)
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span class="panel-title w-100">Что сделать в первую очередь</span>
        </ng-template>
        <ng-template ngbPanelContent>
          В первую очередь стоит создать аккаунт и подтвердить его, перейдя по ссылке которя приет на указанную вами почту.
          После можно выбрать понравившейся товар и добавить его в корзину
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
